@import url('inconsolata/stylesheet.css');
@import url('reset.css');

body {
	background: #dedede;
	font: 14px/20px inconsolata, menlo, monospace;
}

h1 {
	font-weight: normal;
	margin-bottom: 10px;
	float: left;
}

#viewer {
	float: right;
	text-align: right;
}

.clear {
	clear: both;
}

a {
	color: inherit;
}

a:hover {
	color: #198fde;
}

.gray50 {
	color: #808080;
}

#c1 {
	visibility: hidden;
	position: absolute;
	left: -100%;
	top: -100%;
}

#frame {
	position: relative;
	height: 576px;
	width: 1024px;
}

#v, #c2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 1024px;
	height: 576px;
}

#c2 {
	transition: opacity 1s ease-out;
}

#c2.intro {
	opacity: 0;
}

body.show-video #v {
	z-index: 1;
}

.relative {
	position: relative;
}

#page {
	width: 1024px;
	margin: 0 auto;
	padding: 10px;
}

#status {
	margin-top: 10px;
	float: left;
}

#controls {
	margin-top: 10px;
	float: right;
	text-align: right;
}

.hidden {
	display: none;
}

#more {
	background: #ccc;
	padding: 10px 0 10px 20px;
	text-align: left;
}

.right {
	float: right;
	width: 50px;
	text-align: center;
}
