body {
	background: #444;
	cursor: none;
	margin: 0;
	overflow: hidden;
}

h1,
#viewer,
#status-links,
#controls,
#images,
#about,
#sidebar,
.images,
#timeline,
#status,
br.clear {
	display: none;
}

a {
	text-decoration: none;
}

#container, #page {
	margin-top: 0;
	padding: 0;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

#frame, #v, #c2 {
	width: 100%;
	height: auto;
	display: block;
}
