body {
	background: #444;
}

h1,
#viewer,
#status-links,
#controls,
#images,
#about,
#sidebar,
.images {
	display: none;
}

a {
	text-decoration: none;
}

#container {
	margin-top: 35px;
}

.sunrise, .sunset {
	color: #808080;
}
